<div>
    <h1>Diagram Creation Process</h1>
    <h2>Domain in use: Test Domain</h2>
    <div *ngIf="userInDomainFase == true">
        <h3>Currently on section 1: Create your activities and tasks</h3>
        <button (click)="addNewActivityClicked()">Display for create a new Activity</button>
        <div *ngIf="addNewActivityIsClicked">
            <form ngNativeValidate (ngSubmit)="addNewActivity()">
                <div>
                    Activity's name: <input type="text" id="name" name="name" [(ngModel)]="activityToCreate.name" required>
                </div>
                <div>
                    Activity's description: <input type="text" id="description" name="description" [(ngModel)]="activityToCreate.description" required>
                </div>
                <!-- Podría hacerse desde aquí mismo lo de añadir una nueva tarea a la actividad para que no fuese de una en una, pero weno-->
                <div>
                    <input type="submit" value="Create the activity">
                </div>
            </form>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 mt-4">
                    <div class="card-title">
                        <div>
                            <h4>Current Activities:</h4>
                            <ul *ngFor="let relation of Activities_Tasks">
                                <li>
                                    <div>Activity: {{getLocalActivity(relation.activity).name}}</div>
                                    <div>Description: {{getLocalActivity(relation.activity).description}}</div>
                                    <div><button (click)="removeActivity(relation.activity)">Remove activity</button></div>
                                    <h4>Tasks attached to the activity:</h4>
                                    <ul *ngFor="let task of relation.tasks">
                                        <li>
                                            <div>Task: {{getLocalTask(task).name}}</div>
                                            <div>Description: {{getLocalTask(task).description}}</div>
                                        </li>
                                    </ul>
                                    <button (click)="addNewTaskClicked(relation.activity)">Add a new task to this activity</button>
                                </li>
                            </ul>
                            <div *ngIf="addNewTaskIsClicked">
                                <p>Currently adding a new task</p>
                                <form ngNativeValidate (ngSubmit)="addNewTask()">
                                    <div>
                                        Task's name: <input type="text" id="task_name" name="name" [(ngModel)]="taskToCreate.name" required>
                                    </div>
                                    <div>
                                        Task's description: <input type="text" id="task_description" name="description" [(ngModel)]="taskToCreate.description" required>
                                    </div>
                                    <div>
                                        <input type="submit" value="Create the task">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <button (click)="loadSection2()" [routerLink]="['/create_a_diagram']">Go to section 2: Rewards creation area</button>
        </div>
    </div>
    <div *ngIf="userInRewardFase == true">
        <h3>Currently on section 2: Create your rewards</h3>
        <div *ngIf="thereAreRewards == true">
            <h4>There are rewards</h4>
            <ul *ngFor="let reward of Rewards">
                <li>
                    <div>Reward's name: {{reward.name}}</div>
                    <div>Reward's description: {{reward.description}}</div>
                    <div><button (click)="deleteReward(reward)">Delete this reward</button></div>
                </li>
            </ul>
        </div>
        <button (click)="addNewRewardClicked()">Add a new reward</button>
        <div *ngIf="addNewRewardIsClicked==true">
            <p>Complete the form to add a new activity</p>
            <form ngNativeValidate (ngSubmit)="addNewReward()">
                <div>Rewards's name:<input type="text" id="reward_name" name="name" [(ngModel)]="rewardToCreate.name" required></div>
                <div>Reward's description:<input type="text" id="reward_description" name="description" [(ngModel)]="rewardToCreate.description" required></div>
                <div>
                    <input type="submit" value="Create the reward">
                </div>
            </form>
        </div>

        <div>
            <button (click)="loadSection1()" [routerLink]="['/create_a_diagram']">Go back to section 1: Domain creation area</button>
            <button (click)="loadSection3()" [routerLink]="['/create_a_diagram']">Go to section 3: Desing area</button>
        </div>
    </div>
    <div *ngIf="userInDesingFase == true">
        <h3>Currently on section 3: Desing Area</h3>
        <div>
            <button (click)="loadSection2()" [routerLink]="['/create_a_diagram']">Go back to section 2: Rewards creation area</button>
        </div>
        <div>
            <button>Download the diagram!(Ojalá tuviera acabao)</button>
        </div>
    </div>


</div>