<h1>Diagram Creation Process</h1>
<h2>Domain in use: Test Domain</h2>
<p>Currently on section 1: Create your activities and tasks</p>
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-4">
            <div class="card-title">
                <div>
                    <h3>Current Activities:</h3>
                    <ul *ngFor="let activity of Activities">
                        <li>
                            <div>Activity name: {{activity.name}}</div>
                            <div>Activity description: {{activity.description}}</div>
                            <h4>Tasks Attached to the Activity</h4>
                            <ul *ngFor="let task of activity.tasks">
                                <li>
                                    <div>Task name: {{task.name}}</div>
                                    <div>Task description: {{task.description}}</div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div>

</div>