<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="/">
      D&DGS
    </a>
  </nav>
  
  <div class="container">
    <div class="row">
      <div class="col-md-8 mt-4">
          <div class="card-title">
            <div>
              <h1>Current users on DB</h1>
              <ul>
                  <li *ngFor="let user of users">
                      <div>Nickname: {{user.nickname}}</div>
                      <div>Email: {{user.email}}</div>
                      <div></div>
                  </li>
              </ul>
            </div>
            <div>
              <a routerLink="/insert_user">Create a new user</a>
            </div>
          </div>
      </div>
    </div>
  </div>