<mat-toolbar>
    <a class="nav-link-toolbar" [routerLink]="['/']">
        <span>D&DGS</span>
        <img src="./../../../assets/images/LOGO.png" alt="D&DGS Logo" style="vertical-align: middle; width:32px; height: 32px; margin-left: 10px;">
    </a>
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    <!-- <button (click)="debugmethod()">debug</button> -->
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav">
        <h1>Diagrams</h1>
        <mat-divider></mat-divider>
        <div>
            <button mat-button class="menuButton" [routerLink]="['/']">
                <span>Home</span>    
            </button>
        </div>
        <div>
            <button mat-button class="menuButton" [routerLink]="['/domain_craft_area']">
                <span>Domain Editing</span>    
            </button>
        </div>
        <div>
            <button mat-button class="menuButton" [routerLink]="['/reward_craft_area']">
                <span>Reward Editing</span>    
            </button>
        </div>
        <div>
            <button mat-button class="menuButton" [routerLink]="['/diagram_desing']">
                <span>Desing</span>    
            </button>
        </div>
        <div>
            <button mat-button class="menuButton" [routerLink]="['/diagrams']">
                <span>Diagrams</span>    
            </button>
        </div>
        <div *ngIf="userIsAdmin">
            <button mat-button  class="menuButton" [routerLink]="['/users']">
                <span>User's Administration</span>    
            </button>
        </div>
        <div>
            <button mat-button class="menuButton" [routerLink]="['/']" (click)="unlogUser()">
                <span>Log Out</span>    
            </button>
        </div>
        <div class="contact-info">
            <p>
                <i>Javier Martín Lloret ©</i>
            </p>
        </div>
    </mat-sidenav>

    <mat-sidenav-content class="content">
        <button (click)="debug()">debug</button>
        <h1 style="text-align: center; margin-top: 10px">Strategies / Diagrams</h1>
        <div *ngIf="!userHasDiagrams">
            <h2>This Activity has no properties. Create The first one!</h2>
            <div>
                <form ngNativeValidate (ngSubmit)="createANewStrategy()"></form>
            </div>
        </div>
       
    </mat-sidenav-content>
</mat-sidenav-container>