<div>
    <h1>Diagrams</h1>
</div>
<div *ngIf="!userHasDiagrams">
    <p>You haven't made any diagram so far, <a class="nav-link" [routerLink]="['/diagram_desing']">create one now!</a></p>
</div>
<div *ngIf="userHasDiagrams">
    <h2>Your current Diagrams</h2>
    <ul *ngFor="let d of userDiagrams">
        <li>
            <a class="nav-link" [routerLink]="['/diagram_desing']" (click)="visualizeDiagram()">{{d.name}}  </a>
            <button>Download in XML (En curso)</button>
            <button (click)="deleteDiagram(d)">Delete this Diagram</button>
        </li>

    </ul>
</div>
<div>
    <button (click)="debugmethod()">Debug</button>
</div>

