<mat-toolbar>
    <a class="nav-link-main" [routerLink]="['/']">
        <span>D&DGS</span>
        <img src="./../../../assets/images/LOGO.png" alt="D&DGS Logo" style="vertical-align: middle; width:32px; height: 32px; margin-left: 10px;">
    </a>
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    <!-- <button (click)="debugmethod()">debug</button> -->
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav">
        <h1>Desing</h1>
        <mat-divider></mat-divider>
        <div>
            <button mat-button class="menuButton" [routerLink]="['/']">
                <span>Home</span>    
            </button>
        </div>
        <div>
            <button mat-button class="menuButton" [routerLink]="['/domain_craft_area']">
                <span>Domain Editing</span>    
            </button>
        </div>
        <div>
            <button mat-button class="menuButton" [routerLink]="['/reward_craft_area']">
                <span>Reward Editing</span>    
            </button>
        </div>
        <div>
            <button mat-button class="menuButton" [routerLink]="['/diagram_desing']">
                <span>Desing</span>    
            </button>
        </div>
        <div>
            <button mat-button class="menuButton" [routerLink]="['/diagrams']">
                <span>Diagrams</span>    
            </button>
        </div>
        <div *ngIf="userIsAdmin">
            <button mat-button  class="menuButton" [routerLink]="['/users']">
                <span>User's Administration</span>    
            </button>
        </div>
        <div>
            <button mat-button class="menuButton" [routerLink]="['/']" (click)="unlogUser()">
                <span>Log Out</span>    
            </button>
        </div>
        <div class="contact-info">
            <p>
                <i>Javier Martín Lloret ©</i>
            </p>
        </div>
    </mat-sidenav>
  
    <mat-sidenav-content>
        <div class="contentWrapper mat-elevation-z4">
            <div class="DesingGrid">
                <div id="diagramID" (click)="diagramIsClicked()" (dragover)="nodeOverDiagram()" (dragleave)="nodeExitsTheDiagram()">
                    
                </div>
                <div class="nodePickingArea">
                    <h1>Node Picking Area</h1>
                    <div><!-- The argument is 0 bc is used with an activity-->
                        <button draggable="true" (dragstart)="nodeGrabbed(0)" (dragend)="wrapperDropped()" >
                        Activity
                        </button>
                    </div>
                    <div>
                        <button draggable="true" (dragstart)="nodeGrabbed(1)" (dragend)="wrapperDropped()">
                            Reward
                        </button>
                    </div>
                    <!--
                    <div>
                        <button>
                            Property
                        </button>
                    </div>
                    -->
                    <div>
                        <button draggable="true" (dragstart)="nodeGrabbed(2)" (dragend)="wrapperDropped()">
                            Linker
                        </button>
                    </div>
                </div>
                <div class="diagramInfoeArea">
                    <h2>Info Area</h2>
                    <div *ngIf="diagramNodes.length > 1">
                        <button (click)="saveDiagramIsClicked()">Save The diagram!</button>
                        <div *ngIf="isSaveDiagramClicked">
                            <form ngNativeValidate (ngSubmit)="saveDiagram()" name="NewDiagramForm">
                                <p>Diagram Name: <input type="text" name="newDiagramName" id="newDiagramName" [(ngModel)]="newDiagramName" required></p>
                                <button type="submit">Save it!</button>
                            </form>
                        </div>
                    </div>
                    <div *ngIf="isAnActivityWrapperClicked">
                        <h3>Select one context:</h3>
                        <mat-select name="contexts" id="contexts" [(ngModel)]="contextSelected" (ngModelChange)="contextIsSelected()" placeholder="Select a context">
                            <mat-option *ngFor="let c of userContexts" [value]="c">{{c.name}}</mat-option>
                        </mat-select>
                        <div *ngIf="isContextSelected">
                            <h3>Select the Activity: </h3>
                            <mat-select name="activities" id="activities" [(ngModel)]="activitySelected" (ngModelChange)="activityIsSelected()" placeholder="Select an activity">
                                <mat-option *ngFor="let a of userActivities" [value]="a">{{a.name}}</mat-option>
                            </mat-select>
                        </div>
                    </div>
                    <div *ngIf="isAnRewardWrapperClicked">
                        <h3>Select a Reward:</h3>
                        <mat-select name="rewardSets" id="rewardSets" [(ngModel)]="rewardSetSelected" (ngModelChange)="rewardSetIsSelected()" placeholder="Select a Reward Set">
                            <mat-option *ngFor="let s of userRewardSets" [value]="s">{{s.name}}</mat-option>
                        </mat-select>
                        <div *ngIf="isRewarSetSelected">
                            <h3>Select one reward of the set</h3>
                            <mat-select name="rewards" id="rewards" [(ngModel)]="rewardSelected" (ngModelChange)="rewardIsSelected()" placeholder="Select a Reward">
                                <mat-option *ngFor="let r of userRewards" [value]="r">{{r.name}}</mat-option>
                            </mat-select>
                        </div>
                    </div>
                    <div *ngIf="isAnLinkerWrapperClicked">
                        <h3>Select a Category:</h3>
                        <mat-select name="linkerCategories" id="linkerCategories" [(ngModel)]="linkerCategorySelected" (ngModelChange)="linkerCategoryIsSelected()" placeholder="Select a Linker Category">
                            <mat-option *ngFor="let c of linkerCategories" [value]="c">{{c}}</mat-option>
                        </mat-select>
                        <div *ngIf="isLinkerCategorySelected">
                            <h3>Select one Linker</h3>
                            <mat-select name="linkersFiltered" id="linkersFiltered" [(ngModel)]="linkerSelected" (ngModelChange)="linkerIsSelected()" placeholder="Select a Linker">
                                <mat-option *ngFor="let l of linkersInTheCategorySelected" [value]="l">{{l.name}}</mat-option>
                            </mat-select>
                        </div>
                    </div>
                    <div *ngIf="isAnActivityNodeClicked">
                        <h3>Name: <h3 style="font-style: italic">{{activityClicked.name}}</h3></h3>
                        <h4>Description: </h4><p style="font-style: italic">{{activityClicked.description}}</p>
                    </div>
                    <div *ngIf="isAPropertyNodeClicked">
                        <h3>Name: <h3 style="font-style: italic">{{propertyClicked.name}}</h3></h3>
                        <h4 style="text-align: left;">Property type: {{propertyClickedType}}</h4>
                        <h4 style="text-align: justify;">Default value: "{{propertyClickedValue}}"</h4>
                    </div>
                    <div *ngIf="isARewardNodeClicked">
                        <h3>Name: <h3 style="font-style: italic">{{rewardClicked.name}}</h3></h3>
                        <h4 style="text-align: left;">Current priority: {{rewardClicked.priority}}</h4>
                        <p style="text-align: justify;">{{rewardClicked.description}}</p>
                    </div>
                    <div *ngIf="isALinkerNodeClicked">
                        <h3>Linker name: <h3 style="font-style: italic">{{linkerClicked.name}}</h3></h3>
                        <button style="text-align: center;" *ngIf="!isLinkModeActivated" (click)="activateLinkMode()">
                            <span>Add a conexion</span>
                        </button>
                        <p style="text-align: center;" *ngIf="isLinkModeActivated">
                            Click on a valid node to add a link!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
  </mat-sidenav-container>