<h1>Edditing {{user.nickname}} profile</h1>
<div><p>Change the parameters and click save to edit the profile</p></div>

<form ngNativeValidate (ngSubmit)="modifyUser()">
    <div>
        Nickname: <input type="text" id="nickname" [(ngModel)]="updatedDataUser.nickname" name="nickname" value="{{user.nickname}}" required>
    </div>
    <div>
        Email: <input type="email" id="email" [(ngModel)]="updatedDataUser.email" name="email" value="{{user.email}}" required>
    </div>
    <div>
        Password: <input type="password" id="password" [(ngModel)]="updatedDataUser.password" name="password" value="{{user.password}}" required>
    </div>
    <div>
        Is it an active user? <input type="checkbox" id="active_user" [(ngModel)]="updatedDataUser.is_active" name="active_user">
    </div>
    <div>
        Is it a special type user? <input type="checkbox" id="type_user" [(ngModel)]="updatedDataUser.type_user" name="type_user">
    </div>
    <div>
        <input type="submit" value="Modify User's data">
    </div>
</form>
