<mat-toolbar>
    <a class="nav-link-main" [routerLink]="['/']">
        <span>D&DGS</span>
        <img src="./../../../assets/images/LOGO.png" alt="D&DGS Logo" style="vertical-align: middle; width:32px; height: 32px; margin-left: 10px;">
    </a>
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    <!-- <button (click)="debugmethod()">debug</button> -->
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav">
        <h1>User's Administration</h1>
        <mat-divider></mat-divider>
        <div>
            <button mat-button class="menuButton" [routerLink]="['/']">
                <span>Home</span>    
            </button>
        </div>
        <div>
            <button mat-button class="menuButton" [routerLink]="['/domain_craft_area']">
                <span>Domain Editing</span>    
            </button>
        </div>
        <div>
            <button mat-button class="menuButton" [routerLink]="['/reward_craft_area']">
                <span>Reward Editing</span>    
            </button>
        </div>
        <div>
            <button mat-button class="menuButton" [routerLink]="['/diagram_desing']">
                <span>Desing</span>    
            </button>
        </div>
        <div>
            <button mat-button class="menuButton" [routerLink]="['/diagrams']">
                <span>Diagrams</span>    
            </button>
        </div>
        <div *ngIf="userIsAdmin">
            <button mat-button  class="menuButton" [routerLink]="['/users']">
                <span>User's Administration</span>    
            </button>
        </div>
        <div>
            <button mat-button class="menuButton" [routerLink]="['/']" (click)="unlogUser()">
                <span>Log Out</span>    
            </button>
        </div>
        <div class="contact-info">
            <p>
                <i>Javier Martín Lloret ©</i>
            </p>
        </div>
    </mat-sidenav>
  
    <mat-sidenav-content>
        <div class="contentWrapper mat-elevation-z4">
          <!--<h2 class="Title">Home</h2>-->
          <div class="PadGrid">
            <div class="Pad TopLeft">
                <button [routerLink]="['/domain_craft_area']">
                    <mat-icon style="vertical-align: middle;">storage</mat-icon>
                    <span>Domain</span>
                </button>
            </div>
            <div class="Pad TopCenter">
                <h3 style="font-size: 2rem; font-style: italic;">
                    Welcome back to D&DGS!
                </h3>
                <img src="./../../../assets/images/LOGO.png" alt="D&DGS Logo">
            </div>
            <div class="Pad TopRight">
                <button [routerLink]="['/reward_craft_area']">
                    <mat-icon style="vertical-align: middle;"> attach_money</mat-icon>
                    <span>Rewards</span>
                </button>
            </div>
            <div class="Pad BotomLeft">
                <button [routerLink]="['/diagram_desing']">
                    <mat-icon style="vertical-align: middle;">edit</mat-icon>
                    <span>Desing</span>
                </button>
            </div>
            <div class="Pad BotomCenter">
                <div *ngIf="userIsAdmin">
                    <button [routerLink]="['/users']">
                        <mat-icon style="vertical-align: middle;">supervised_user_circle</mat-icon>
                        <span>User's Administration</span>
                    </button>
                </div>
            </div>
            <div class="Pad BotomRight">
                <button [routerLink]="['/diagrams']">
                    <mat-icon style="vertical-align: middle;">collections</mat-icon>
                    <span>Diagrams</span>
                </button>
            </div>
          </div>
        </div>
    </mat-sidenav-content>
  </mat-sidenav-container>